* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    overflow: hidden;
}

.body-container {
    height: 100vh;
    background: url(https://wallpapercave.com/wp/wp4358269.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-container {
    width: fit-content;
    max-width: 80%;
    margin-top: 20vh;
    background-color: white;
    padding: 20px 35px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.trans-border {
    border: 4px solid transparent;
    place-items: center;
}

.author {
    margin-top: 10px;
    font-style: italic;
}

#quote-gen {
    all: unset;
    background-color: #945428;
    padding: 10px 30px 10px;
    border-radius: 0 0 50px 50px;
    color: white;
    cursor: pointer;
    border: 3px white solid;
    transition: transform 0.1s ease-in-out;
}

#quote-gen:active, #knock:active{
    transform: scale(0.95);
    background-color: #a35d2e;
}
#knock {
    all: unset;
    background-color: #945428;
    padding: 10px 30px 10px;
    border-radius: 0;
    color: white;
    cursor: pointer;
    border: 3px white solid;
    align-self: flex-start;
}

.hereiam {
    position: absolute;
    border: 3px white solid;
    background-color: #39536c;
    top: 100%;
    left: 100%;
    transform: translate(-100%, 0%);
    display: flex;
    padding: 10px;
    width: max-content;
    color: white;
    transition: .3s ease-in-out;
}
.hereiam-active {
    transform: translate(-100%, -100%);
}

#close-button {
    all: unset;
    color: red;
    margin-left: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}
#close-button:active {
    transform: scale(0.8);
}


.accordian {
    display: flex;
    justify-content: flex-end;
}

.author-des-container {
    background-color: white;
    width: 30%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 40px;
    position: relative;
}
@media (max-width: 1048px) {
    .author-des-container {
        width: 40%;
    }
}
@media (max-width: 768px) {
    .author-des-container {
        width: 60%;
    }
}
@media (max-width: 530px) {
    * {
        font-size: 15px;
    }
    .quote-container {
        width: fit-content;
        max-width: 100%;
        margin-top: 20vh;
        margin: 20vh 10px 0;
    }

    .author-des-container {
        width: 100%;
        margin: 10px;
    }
}

.acc-author {
    display: flex;
    align-items: center;
}

.acc-author:hover {
    cursor: pointer;
}

.author-name {
    font-style: italic;
    transition:  0.1s ease-in-out;
}


.acc-author::after {
    content: "+";
    position: absolute;
    font-size: 40px;
    right: 20px;
}

.acc-author-active::after{
    content: "-";
    font-size: 30px;
}

.acc-description {
    height: 0;
    transition: .2s ease-in;
}

.acc-description-active {
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px black solid;
}

.github_link {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .github_link {
        text-decoration: underline;
    }
}

.github_link:hover {
    text-decoration: underline;
}